

.where-we-work{
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;


  margin-top: -50px;
  
 
}

.where-we-work img{

    width: 100%;
    
   
  }


  .where-we-work-scrol-container{

    overflow-x: scroll;
  }

.where-we-work-scroll{
   width: max-content;
   display: flex;
   flex-flow: row;
  
    overflow-x: scroll;


}


.where-we-work-scroll div{

    width: 290px;
    padding: 20px;

    background-color: white;
    margin: 10px;
    border-radius: 5px;
    
    
}

.where-we-work-scroll div h1{

    color: rgb(147, 147, 46);
    margin-bottom: 15px;
   
}

.where-we-work-scroll div p{

    color: rgb(132, 132, 76);
    line-height: 29px;
   
}



.image{
  width: 100%;
}

.image-container{

  height: 40vh;

 


}


.image{

  background-image: url("../../assets/men-digging.jpg");
  background-size: cover;
  position: relative;
z-index: -5;
  height: 100%;
 

}

.image:after{

  content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
 

}

.image h2{
  position: absolute;
  top: 65%;
  left: 5%;
  color:white;
 
}




@media (min-width: 768px) and (max-width: 1024px){


  .image h2{
   font-size: 33px;
   top:75%;
   
  }
  


}


@media (min-width: 1200px){

  .where-we-work{
   
  
  
    margin-top: -150px;
    
   
  }

 

  .image-container{

    height: 80vh;
  
   
  
  
  }

  .image h2{
    
    top: 55%;
    
   
   
  }


  .where-we-work-scroll{
    padding-left: 40px;
    padding-right: 40px;
    min-width: 100vw;
    justify-content:space-around;
 
 
 }

 .where-we-work-scroll div{

     width: 320px;
 }


}
