.hero{
    width: 100vw;
    height:  60vh;
    display: flex;
    flex-direction: column;
    

}

.hero-container svg{
    position: absolute;
    top:80%;
    height: 120px;
   
    margin: 0;
}

.hero-container{
    background-image: url("../../assets/impact.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
    width: auto;
    z-index: -2;
   
    
}


.hero-container p{

    top:50%;
    left:3%;
    position: absolute;
    padding: 15px;
    color: white;
    font-size: 4rem;
    line-height: 4.5rem;
    right: 30%;
    
}

.hero-container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    
  }



  @media (min-width: 768px) and (max-width: 1020px) {

    .hero-container p{
        font-size: 40px;
        line-height: 50px;
        padding:30px;
    }
  
  }


  @media (min-width: 1024px){

    .hero{
        
        height:  100vh;
        
        
    
    }



  }
