.journal-item{

    padding: 20px;
   
   


}


.journal-container{
    border:solid;
    border-color:#00000008;
    box-shadow: 0 4px 8px 0 rgba(207, 203, 203, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.journal-container:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.journal-image{

   
    background-size: cover;
    height: 200px;
   
    
}


.journal-item img{

    height: 250px;
    width: 100%;

    
}


.journal-item-text{
  

    padding: 20px;


}

.journal-item-text h2{

  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
  color: gray;


}


.journal-item-text h1 {

    font-size: 18px;
    margin-bottom: 15px;
    font-weight:500;
   




}


.journal-item-text p {

    font-size: 15px;
    color: rgba(188, 118, 92)   ;
    margin-top: 20px;
   




}

 @media (min-width: 1024px){

    .journal-item{

       width: 100%;
       padding: 50px 50px;

       
       
       
    
    
    }




}