.get-involved p {

    padding: 30px;

}



@media (min-width: 768px) and (max-width: 1020px){


    .get-involved p {

        font-size: 26px;
        margin: 30px 0;
    
    }
    


}

@media (min-width: 1024px){

    .get-involved p {

        padding: 130px 300px;
        font-size:1.25rem;
        line-height: 30px;
    
    }


}