.contact-hero{
    height: 50vh;
    background-color: rgba(90,114,137);

    display: flex;
    flex-direction: column;
  justify-content:flex-end;
  padding: 20px;

}


.contact-hero  p{

  font-size: 28px;

 color: white;
  


}


.contact-body{

  padding:  40px 20px;
}

.contact-body h4{
       color:  rgb(117, 117, 21)   ;
}


.contact-body ul{

  padding: 20px;
}


.contact-body li{

  margin-bottom: 10px;
}



@media (min-width: 768px){

  .contact-hero{
    height: 35vh;
   

}

.contact-hero  p{
  margin-bottom: 50px;

  font-size: 34px;

 
  


}

.contact-body {
  padding: 60px 100px;
}



}






@media (min-width:1200px){

  .contact-hero{
    height: 50vh;
   

}

.contact-hero p{
  font-size: 50px;

}


.contact-body {
  padding: 100px 300px;
}


.contact-body h4{

  font-size: 1.5rem;
  line-height: 27px;
}


.contact-body ul{

   font-size: 1.1rem;
}


.contact-body li{

margin-bottom: 10px;
}



}


@media (min-width:1300px){

  .contact-body {
    padding: 100px 400px;
  }

}