.impact{

    width: 100vw;
   

}

.impact-article-container{
    padding: 20px;

}

.article{

    margin-bottom: 100px;
}

.article-container{
    border:solid;
    border-color:#00000008;
    box-shadow: 0 4px 8px 0 rgba(207, 203, 203, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.impact-top-image{

    width: 100%;
   
}

.latest{

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    color:  rgb(117, 117, 21)  ;
}

.impact-text p{

    margin: 15px 0;
    
    
}

.impact-text h3{

    margin: 15px 0;
    line-height: 28px;
    color:   rgb(117, 117, 21) ;
}

.impact-text div{

    margin: 15px 0;
    line-height: 26px;
    
    
}


.more-stories{
    padding: 0 20px;
    color:   rgb(92, 92, 17) ;

}



@media (min-width: 768px){

    .impact-article-container{
        display: flex;
        flex-direction: row;
    
    }

    .impact-top-image{

        width: 95%;
       
    }

    .impact-text{
        width: 95%;

    }
    




}



@media (min-width: 1200px){

    .impact-article-container{
        padding:  20PX 60px;
    
    }

    .latest{

        padding: 0 60px;
        margin-top: 120px;
        margin-bottom: 0px;
        color:  rgb(117, 117, 21)  ;
    }


    .more-stories{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }


}
