

.what-we-do{
  
    display: flex;
    flex-direction: column;
    
   
    margin: 50px 0;
}

.text-wrapper{
    padding: 20px;

}

.text-wrapper h2{
    margin-bottom:  20px;
    color: rgb(147, 147, 46);
}

.text-wrapper p{
    line-height: 30px;
    font-size: 22px;
    color:rgb(209, 65, 13);
}

  .what-we-do img {
   margin: 40px 0;
   width: 100%;
   }


   .our-goals{
    padding: 20px;
   }


   .our-goals h1{

    color:  rgb(147, 147, 46);
    margin-bottom: 20px;
    
   }

   .our-goals  p{

    color:  rgb(147, 147, 46);
    margin-bottom: 20px;
    
   }

   
   .our-goals h2{
    color:  rgb(147, 147, 46);
    margin-bottom: 30px;
    
   }

   .our-goals div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
   }


.our-goals button{
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(147, 147, 46) ;
    color:  rgb(147, 147, 46)  ;
    width: 50%;
}



@media (min-width: 768px) and (max-width: 1023px) {

    .text-wrapper{
        padding: 40px 90px;
    }


    .text-wrapper h2{
       
        color: rgb(95, 95, 35);
        font-size: 15px;
    }
    

    .text-wrapper p{
        line-height: 30px;
        font-size: 26px;
       
    }

    .what-we-do img {

        filter: brightness(50%);
        position: relative;
        z-index: -8;
       
        }


        .our-goals{
            margin-top: -72%;
            padding: 50px;
            z-index: 5;
           } 


           .our-goals p{
            color: white;
           } 

           .our-goals h1{
            color: white;
            font-size: 38px;
          
           }

           .our-goals h2{
            color: white;
            font-size: 15px;
           }

           .our-goals div  {
              display: block;
             }

           .our-goals button  {
          width: 30%;
          background-color: transparent;
         border-color: white;
         color: white;
         border-width: 3px;
           }





           
        
  
  }



  @media (min-width: 1024px) {
    .what-we-do{
  
       
       
        
       
       
    }

    .our-goals-container{

        width: 100vw;
        height: 100vh;
    }




    .text-wrapper{
       padding: 100px 200px;
    
    }

    .text-wrapper h2{
        font-size: 18px;

        color:  rgb(97, 97, 36);
     }


     .what-we-do img {
        position: relative;
        z-index: -8;

        filter: brightness(50%);
        height: calc(100vh - 110px)
    
       
        }

        .our-goals{
            margin-top: -50%;
            padding:  0px 100px;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
           } 




           .our-goals p{
            color: white;
           } 

           .our-goals h1{
            color: white;
            font-size: 32px;
          
           }

           .our-goals h2{
            color: rgb(227 227 28);
            font-size: 15px;
           }

           .our-goals div  {
              display: block;
             }

           .our-goals button  {
          width: 30%;
          background-color: transparent;
         border-color: white;
         color: white;
         border-width: 3px;
           }


  }


  @media (min-width: 1200px){

    

    .our-goals-container{

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 200px;
    }

    .text-wrapper{
        padding: 100px 100px;
     
     }

    .our-goals{

        margin-top: 0;

        justify-content:flex-start;
      
       padding: 0px;

       
      
       
       } 


       .our-goals p{
        color:rgb(132, 132, 76);
        font-size: 18px;
        font-weight: 700;
       } 

       .our-goals h1{
        color:rgb(192, 85, 46);
        font-size: 3rem;
        margin-bottom: 0px;
      
       }

       .our-goals h2{
       
        font-size: 15px;
        color:rgb(83, 83, 15)   ;
       
       }

       

       .our-goals button  {
        width: 200px;
        padding: 12px;
        border-radius: 20px;
        background-color: #335f68    ;
        color:  rgb(246, 244, 237);
        font-weight: 700;
        border: none;
      
       }

       .image-container{

        display: flex;
        flex-direction: column;
        align-items: center;
       }


       .what-we-do img {

      /*  width: 450px;
        height: 350px;
        margin: 0 0;*/
        width: 500px;
        height: 300px;
        margin: 40px 0;


        filter: brightness(100%);

       
       
    
       
        }

        .our-goals div{
           
            margin-top: 20px;
           }



  }



  @media (min-width: 1400px){

    .what-we-do{


  
        
       
       
    }



  }
