.help-top{
    padding: 20px;
    background-color: #e2dede;
    margin-top: 70px;
    height: 500px;
}

.help-top h1{
    color:  rgb(147, 147, 46)  ;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.help-top p{
    color:  rgb(132, 132, 76)  ;
    line-height: 29px;
    text-align: center;
}




.help-bottom{

overflow-x: scroll;
margin-top: -150px;
}


.help-bottom-scroll{
    width: max-content;
    display: flex;
    flex-flow: row;
   
}


.help-bottom-scroll div{

    margin: 25px;
    color: white;
    width: 290px;
    background-color:rgb(226, 123, 123) ;
    padding: 45px 15px;
    border-radius: 7px;
   
}

.help-bottom-scroll h1{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom-color: white;
    border-bottom: solid;
    padding-bottom: 20px;
    border-bottom-width: 1px;

}

.help-bottom-scroll p{
   line-height: 28px;
   text-align: center;


}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:30px;
}

.button-section button{
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(147, 147, 46);
    color: rgb(147, 147, 46);
    width: 50%;
    border: none;
}



@media (min-width: 768px) and (max-width: 1024px){

    .help-bottom{

      
        margin-top: -350px;
        }



}


@media (min-width: 1400px){

    .help-top {
        display: flex;
        flex-direction: column;
        align-items: center;
     
    }


    .help-top div{
        margin-top: 50px;
        width: 50%;
     
    }


    .help-top h1{
        
        font-size: 28px;
        
    }
    
    .help-top p{
        font-size: 20px;
        
    }


    .help-bottom{

        min-width: 100vw;
        margin-top: -250px;
        }
        
        
        .help-bottom-scroll{
            display: flex;
           width: 100%;
            justify-content: space-around;
            flex-direction: row;
           
        }

        .help-bottom-scroll div{

            width: 350px;
          
           
        }

        .help-bottom{

            overflow-x:hidden;
            }
            

    

}

