.dashboard{

    overflow: hidden;
    height: 100%;
   position: relative;
}








.mainbar{

  
    width: 100%;
    z-index: 4;
    top: 0;
    z-index: 3;
    


}


.mainbar.after{

    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    opacity: 0.4;
    


}


.mainbar.shift-mainbar{

 width:100vw;
 position: absolute;

}



.mainbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.mainbar-nav div{
   display: flex;
   flex-direction: column;
   align-items: flex-end;

}

.mainbar-nav div p{
    visibility: hidden;
 
 }


 .mainbar-nav-humburger{
    height: 50px;
    width: 50px;
    border-radius: 50%;

 }




.mainbar-nav  img{

    height: 50px;
    width: 50px;
    border-radius: 50%;

}



.mainbar-body{
    padding: 20px;
}


.mainbar-body h2{
   margin-bottom: 30px;

}





.create-new-location{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: white;
    background-color: #335f68;
}

.table-container{

    border: solid;
    border-color: #335f68 ;
    border-width: 2px;
}

.table-heading{
    display: flex;
    flex-direction: row;
    background-color: #335f68;
    color: white;
    height: 40px;
    
}

.table-heading-no{
    flex: 0.2;
  
    border-right-color: rgb(190, 182, 182);
    border-right: solid;
    border-right-width: 1px;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}



.table-heading-title{
    flex: 0.5;
    background-color: #335f68;
    border-right-color: rgb(190, 182, 182);
    border-right: solid;
    border-right-width: 1px;
    height: 100%;
    padding: 7px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-heading-buttons{
    flex: 0.3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

a {
    text-decoration: none;
    color: white;
}




















.table-item{
    display: flex;
    flex-direction: row;
   
    height: 80px;
    
}



.table-item-no{
    flex: 0.2;
    
   
    height: 100%;
    border-right: solid;
    border-right-color: rgb(190, 182, 182);
    border-right-width: 1px;

    border-bottom: solid;
    border-bottom-color: rgb(190, 182, 182);
    border-bottom-width: 1px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.table-item-title{
    flex: 0.5;
    border-left-color: rgb(142, 50, 50);
    border-right: solid;
    height: 100%;
    padding: 7px;

    border-right: solid;
    border-right-color: rgb(190, 182, 182);
    border-right-width: 1px;

    border-bottom: solid;
    border-bottom-color: rgb(190, 182, 182);
    border-bottom-width: 1px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-item-buttons{
    flex: 0.3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: solid;
    border-bottom-color: rgb(190, 182, 182);
    border-bottom-width: 1px;
   
}

.tableItem-edit{

    margin-bottom: 10px;
    width: 50px;
    background-color: green;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 5px;
}

.tableItem-delete{
    margin-bottom: 10px;
    width: 50px;
    background-color:red;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 5px;
}


@media (min-width: 768px){
    

    .table-item-no{
        font-size: 20px;
    }
    
    .table-item-title{

        font-size: 20px;


    }

    .table-item-buttons{

        flex-direction: row;
        justify-content: space-around;
    }

    .tableItem-edit{
        width: 80px;
        padding: 8px;
    }

    .tableItem-delete{

        width: 80px;
        padding: 8px;
    }




}



























































@media (min-width: 768px){



    .mainbar-nav{
       
        padding: 20px 35px;
    }


    .mainbar-nav div {
        display: flex;
        flex-direction: row;
        align-items: center;
       
    }

    .mainbar-nav div p{
        visibility: visible;
        margin-left: 10px;
     
     }
    



    .mainbar-body{
        padding: 35px;
    }


    .mainbar-item-container{


        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mainbar-item{
        width: 30%;
    }

   
} 


@media (min-width: 1024px){
    .mainbar{

  
        width: 80%;
        margin-left: 20%;
       
        
    
    
    }


    .mainbar-nav-humburger{
        visibility: hidden;
    }



}